polkit.addRule(function(action, subject) {
  var services = [
    "mobileforces.service",
    "mobileforces-fastdl.service",
    "mobileforces-masterserver.service"
  ];

  if (
    subject.user == "{{ server_user }}" &&
    action.id == "org.freedesktop.systemd1.manage-units" &&
    services.includes(action.lookup("unit"))
  )
    return polkit.Result.YES;
});