@counter-style mf {
  system: cyclic;
  symbols: "\2764\FE0F" "\1F451" "\1F525" "\1F680" "\1F911" "\1F4AF" "\1F449" "\1F4AA" "\1F340" "\2728";
  suffix: "";
}

body {
  background-color: #fd7e14;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
  font-size: 1rem;
  margin-right: 0;
}

nav {
  position: fixed;
  background-color: #333;
  overflow: hidden;
  display: flex;
  justify-content: space-between;
  padding: 6px;
}

.nav-top {
  left: 0;
  right: 0;
}

.nav-link {
  color: #f8f9fa;
  padding-right: 0.5rem;
  text-decoration: none;
}

.nav-link:hover, .nav-link:focus {
  color: cyan;
}

iframe { border: 0; }

ul {
  padding-left: 10px;
  list-style: mf outside;
}

li { margin-bottom: 11px; }

.grid-container { display: grid; }

.grid-item { padding-bottom: 10px; }

@media screen {
  @media (orientation: portrait) {
    body { margin-bottom: 36px; }

    .nav-top { bottom: 0; }

    .grid-item.b { order: -1; }
  }

  @media (orientation: landscape) {
    body { margin-top: 36px; }

    .nav-top { top: 0; }

    ul { padding-left: 2px; }

    @media (width < 1211px) {
      .grid-item.a { grid-area: left; }

      .grid-item.b { grid-area: right; }

      .grid-item.c { grid-area: bottom; }

      .grid-container {
        grid-template-columns: 418px 1fr;
        grid-template-areas:
          'left right'
          'bottom right'
      }
    }

    @media (width >= 1211px) {
      .grid-container { grid-template-columns: 418px auto auto; }
    }
  }
}
