MobileForces.zip
hosts
vars.yml
templates/scripts/compress.sh
templates/services/mobileforces.services
templates/website/donations.db
templates/website/mobileforces.conf
templates/website/admin/elFinder-*
!templates/website/admin/elFinder-*.zip
templates/website/includes/kofi.php
templates/website/includes/variables.php