MobileForces.zip
hosts
vars.yml
templates/scripts/compress.sh
templates/services/mobileforces.service
templates/services/mobileforces-masterserver.service
templates/services/mobileforces-fastdl.service
templates/vhosts/mobileforces.j2
templates/website/donations.db
templates/website/mobileforces.conf
templates/website/admin/elFinder-*
!templates/website/admin/elFinder-*.zip
templates/website/includes/php/kofi.php
templates/website/includes/php/variables.php