[Unit]
Description=Mobile Forces master server
After=network.target

[Service]
User={{ server_user }}
WorkingDirectory={{ install_path }}/masterserver/System/
ExecStart=sh {{ install_path }}/masterserver/System/RunMasterServer.sh
Restart=on-failure

[Install]
WantedBy=multi-user.target
