[Unit]
Description=Mobile Forces master server
After=network.target

[Service]
User={{ server_user }}
WorkingDirectory={{ game_path }}-masterserver/
ExecStart=sh {{ game_path }}-masterserver/RunMasterServer.sh
Restart=on-failure

[Install]
WantedBy=multi-user.target
