[Unit]
Description=Mobile Forces master server
After=network.target

[Service]
User={{ server_user }}
WorkingDirectory={{ masterserver_path }}/bin/
ExecStart=sh {{ masterserver_path }}/bin/RunMasterServer.sh
Restart=on-failure

[Install]
WantedBy=multi-user.target
