[Unit]
Description=Mobile Forces zip packaging

[Service]
User={{ server_user }}
WorkingDirectory={{ game_path }}/System/
ExecStart=bash package.sh {{ website_path }}/public/download

[Install]
WantedBy=multi-user.target
