[Unit]
Description=Mobile Forces fastdl compression

[Service]
User={{ server_user }}
WorkingDirectory={{ game_path }}/System/
ExecStart=bash {{ game_path }}/System/compress.sh {{ website_path }}/public/fast_download {{ game_path }}

[Install]
WantedBy=multi-user.target
