b { font-size: 1.1rem; }

ol { padding-left: 18px; }

p { margin-top: 5px; }

iframe {
  border: none;
  border-radius: 8px;
  padding: 4px;
  background: #f9f9f9;
}

img, iframe {
  display: block;
  margin: auto;
}

.grid {
  display: grid;
  gap: 10px;
}

.c li {
  padding: 3px;
  background: rgba(255, 255, 255, 0.1);
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.1);
}

@media screen {
  @media (orientation: portrait) {
    .grid > .b { order: -1; }
  }

  @media (orientation: landscape) {
    @media (width < 1211px) {
      .grid > .a { grid-area: left; }

      .grid > .b { grid-area: right; }

      .grid > .c { grid-area: bottom; }

      .grid {
        grid-template-columns: 418px 1fr;
        grid-template-areas:
          'left right'
          'bottom right'
      }
    }

    @media (width >= 1211px) {
      .grid { grid-template-columns: 418px auto auto; }
    }
  }
}
