<?php
  define('kofi_name', '{{ kofi_name }}');
  define('kofi_token', '{{ kofi_token }}');
  define('kofi_target', {{ kofi_target }});
  define('kofi_currency', '{{ kofi_currency }}');
  define('kofi_startdate', '{{ kofi_startdate }}');
  define('kofi_paypal_clientid', '{{ kofi_paypal_clientid }}');
  define('kofi_paypal_secretkey', '{{ kofi_paypal_secretkey }}');
?>