{% extends 'base.html.twig' %}

{% block title %}Servers{% endblock %}

{% block stylesheets %}
  <link rel="stylesheet" href="{{ asset('css/servers.css') }}">
{% endblock %}

{% block body %}
  <p>Browse the running servers for Mobile Forces and other games, powered by <a href="https://github.com/333networks/Masterserver-Qt5">333networks</a></p>
  <iframe src="https://master.333networks.com/s/mobileforces" title="servers"></iframe>
{% endblock %}
