<VirtualHost *:80>
  ServerName {{ ServerName }}
  ServerAlias www.{{ ServerName }}

  ServerAdmin {{ ServerAdmin }}
  DocumentRoot {{ website_path }}/public

  <Directory {{ website_path }}/public>
    Require all granted
    FallbackResource /index.php
  </Directory>

  <Directory {{ website_path }}/public/*download>
    Options Indexes FollowSymLinks
    FallbackResource disabled
  </Directory>

  <FilesMatch \.php$>
    SetHandler proxy:unix:/run/php/www.sock|fcgi://dummy
  </FilesMatch>

  SetEnv APP_SECRET {{ app_secret }}
  SetEnv KOFI_TOKEN {{ kofi_token }}
  SetEnv KOFI_NAME {{ AdminName }}

  <IfModule mpm_itk_module>
    AssignUserId {{ server_user }} {{ server_user }}
  </IfModule>

  <IfModule mod_speling.c>
    CheckCaseOnly on
    CheckSpelling on
  </IfModule>

  ErrorLog ${APACHE_LOG_DIR}/error.log
  CustomLog ${APACHE_LOG_DIR}/access.log combined
</VirtualHost>
