<VirtualHost *:80>
  ServerName {{ ServerName }}

  ServerAdmin {{ ServerAdmin }}
  DocumentRoot {{ website_path }}/

  <Directory {{ website_path }}/>
    Require all granted
  </Directory>

  <Directory {{ website_path }}/fast_download/>
    Options All Indexes FollowSymLinks
    AllowOverride Options Indexes FileInfo
  </Directory>

  <IfModule mpm_itk_module>
    AssignUserId {{ server_user }} {{ server_user }}
  </IfModule>

  ErrorLog ${APACHE_LOG_DIR}/error.log
  CustomLog ${APACHE_LOG_DIR}/access.log combined
</VirtualHost>
