name      {{ ServerName }}
author    {{ AdminName }}

// backgrounds
bodybg      #222 body.gif
boxbg1      #333
boxbg2      #111
boxbg3      #222
shadow      #222

// text
textcol1    #ccc
textcol2    #0af
textcol3    #ff0
textcol4    #666

// logos
bglogo      MFLogo.png

// filter
pngfilter   invert(49%) sepia(50%) saturate(4931%) hue-rotate(177deg) brightness(109%) contrast(104%)
