name      {{ ServerName }}
author    {{ AdminName }}

// backgrounds
bodybg      #fd7e14 body.gif
boxbg1      #f8f9fa
boxbg2      #cccccc
boxbg3      #e0e0e0
shadow      #995500

// text
textcol1    #1a1a1a
textcol2    #0055aa
textcol3    #cc4400
textcol4    #6c757d

// logos
bglogo      MFLogo.png

// filter
pngfilter   invert(49%) sepia(50%) saturate(1814%) hue-rotate(158deg) brightness(103%) contrast(101%)
